<section layout="row" flex>
    <md-content flex layout-padding>
        <div layout="column" layout-fill layout-align="top center">
            <md-list layout="row" layout-wrap ng-repeat="task in $storage.task">
                <div class="completed" flex="5">
                    <md-checkbox ng-model="task.isCompleted" aria-label="Checkbox 1"></md-checkbox>
                </div>
                <div class="md-list-item-text" flex="95" ng-click="openMenu($index)">
                    <div class="date">
                        <p am-time-ago="task.date"></p>
                    </div>
                    <div class="title">
                        <h3>{{task.name}}</h3>
                    </div>
                </div>
            </md-list>
        </div>
        <div flex></div>
        <h2 class="center" ng-if="$storage.task.length < 1">Click the add button above to get started!</h2>
    </md-content>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">{{$storage.task[index].name}}</h1>
        </md-toolbar>
        <md-content layout-padding>
            <form>
                <md-input-container class="md-icon-float">
                    <label>Task Name</label>
                    <md-icon md-font-library="material-icons">assignment</md-icon>
                    <input ng-model="$storage.task[index].name" type="text" md-autofocus>
                </md-input-container>
                <md-input-container class="md-icon-float">
                    <md-datepicker ng-model="$storage.task[index].date" md-placeholder="Enter date"></md-datepicker>
                </md-input-container>
                <md-input-container>
                    <label>Note</label>
                    <textarea ng-model="$storage.task[index].desc" columns="1" md-maxlength="150"></textarea>
                </md-input-container>
            </form>
             <md-button class="md-raised md-warn remove-task" ng-click="remove(index)">Remove Task</md-button>
        </md-content>
    </md-sidenav>
</section>